body{
    background-color: grey;
    background: linear-gradient(0.25turn, teal, 50%, darkslategray);
    margin: auto;
    padding-left: 50%;
    padding-inline:35%;
    padding-top: 20px;
}

h1 {
    color: white;
}

#divGiphy {
    position: absolute;
}

form {
    float: left;
}

button{
    float: right;
    display: inline-block;
    border-radius: 5px;
    margin-inline: 5px;
}

#submitButton {
    border: 2px solid rgb(0, 255, 0);
    background-color: rgb(0, 255, 0);
}

#removeALL {
    border: 2px solid rgb(255, 166, 0);
    background-color: rgb(255, 166, 0);
}

#extraInfo {
    float: left;
    margin-block: 30px;
}
#attribution {
    color: whitesmoke;
    opacity: 50%;
}

#displayGIFs {
    margin-top: 20%;
}

img {
    display: inline-block;
}